@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");


:root {
    --cl-main: #4b33a8;
    /* --cl-main: #1d9696; */
    --cl-white: #ececec;
    --cl-gray: #e2e2e2;
    --cl-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,
h1,
h3,
h4,
h4,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.wrp {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background: var(--cl-main);

}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--cl-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 3rem;
    margin-bottom: 15%;
  

}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
    
    
}


.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--cl-white);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1.5rem;
    font-size: .85rem;
    position: relative;
    width: 100%;
   
}

.boton-menu.active {
    color: rgb(19, 137, 216);
    background-color: var(--cl-white);

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.boton-menu.active::before{
    content: '';
    position: absolute;
    width: 4rem;
    height: 4rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--cl-white);
    color: transparent;
   
}

.boton-menu.active::after{
    content: '';
    position: absolute;
    width: 3rem;
    height: 4rem;
    top: 100%;
    right: 0;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--cl-white);
  


}



.boton-categoria>i.bi-hand-index-thumb-fill,
.boton-categoria>i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}


.texto-footer {
    color: rgb(172, 194, 207);
    font-size: 1rem;
    
   
}




main {
    background-color: transparent;
    opacity: 3;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
    border: 2px solid rgba(255, 255, 255, .5);
    outline: none;
    backdrop-filter: blur(20px);
    background-color: var(--cl-white);


}

.titulo-principal {
    color: var(--cl-red);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat( 1fr);
    }

.disabled{
    display: none;
}

.header-mobile{
    display: none;
}

.close-menu{
    display: none;
}

.principale{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    
}


.register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.register{
   
        font-weight: .9rem;
        color: #162938;
        text-align: center;
        font-weight: 500;
        margin: 25px 0 10px;
}

.wrapper {
    margin-bottom: 0%;
    margin-top: 1%;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    
   



}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2rem;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9rem;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    background-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

/*media querys*/

@media  screen and (max-width: 850px) {
    .contenedor-productos{
        grid-template-columns:  1fr;
    }
}


@media  screen and (max-width: 675px) {
    .contenedor-productos{
        grid-template-columns: 1fr ;
    }
}

@media  screen and (max-width: 600px) {
    .wrp{
       
       display: flex;
       flex-direction: column;
        min-height: 100vh;
    }
     aside{
        position: fixed;
        z-index: 9;
        background-color: var(--cl-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
       
      
     }

     .aside-visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible ;
     }

     .boton-menu.active::before,
     .boton-menu.active::after{
        display: none;
     }

     main{
        margin: 1rem;
        padding: 1rem;
        margin-top: 0;
     }

     .contenedor-productos{
        grid-template-columns: 1fr;
     }
     .header-mobile{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }

     .header-mobile .logo{
        color: var(--cl-gray);
     }

     .open-menu{
        background-color: transparent;
        color: var(--cl-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;

     }

     .close-menu{
        background-color: transparent;
        color: var(--cl-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: block;
     }

  
}


@media  screen and (max-width: 400px) {
    .contenedor-productos{
        grid-template-columns: 1fr;
    }
}


@media  screen and (max-width: 600px) {
    .wrapper{
       
       display: flex;
       flex-direction: column;
        min-height: 100%;
    }
     aside{
        position: fixed;
        z-index: 9;
        background-color: var(--cl-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
       
      
     }

     .aside-visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible ;
     }

     .boton-menu.active::before,
     .boton-menu.active::after{
        display: none;
     }

     main{
        margin: 1rem;
        padding: 1rem;
        margin-top: 0;
     }

     .contenedor-productos{
        grid-template-columns:  1fr;
     }
     .header-mobile{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }

     .header-mobile .logo{
        color: var(--cl-gray);
     }

     .open-menu{
        background-color: transparent;
        color: var(--cl-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;

     }

     .close-menu{
        background-color: transparent;
        color: var(--cl-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: block;
     }

     .carrito-producto{
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 0.5rem;
     }

     .carrito-producto.subtotal{
        display: none;
     }

     .carrito-acciones{
        flex-wrap: wrap;
        row-gap: 1rem;
     }
}